{% extends "base.html" %}
{% block content %}
<h1>Comparing Life Expentenceny and Education Spending</h1>

<!-- Intro / User Goal -->
    <div class="info-box">
        <p>
            This visualization is designed to help <strong> policymakers identify how their country’s life expectancy compares with global peers, and to uncover which socioeconomic or environmental factors may be driving those differences. This supports evidence-based decision-making by helping officials recognize emerging strengths, diagnose areas needing improvement, and prioritize future policy interventions in health, education, and life expectancy.
.
            </strong>.
        </p>
        <p>
            By examining how these metrics evolve over time, policymakers can begin to evaluate the apparent impact of past policies in areas like
            healthcare and education funding or environmental regulation, and identify periods where changes in policy may align with improvements
            or stagnation in population health.
        </p>
    </div>

    <!-- Visualization -->
    <div class="viz-box">
        <p>
            <strong>How to use this view:</strong><br>
            Select a country you want to explore and examine how its life expectancy compares with nations of similar economic status, and look at how factors such as education spending, CO₂ emissions, healthcare coverage, or healthcare expenditure may relate to those differences. Identify any notable trends, relationships, or deviations that emerge across countries.
        </p>

        <iframe width="1400" height="1000" frameborder="0"
                src="https://public.tableau.com/app/profile/shane.brooks6949/viz/Task4updated_17645990438230/Dashboard1?publish=yes">
        </iframe>
    </div>

</div>
{% endblock %}

